# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Builds
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/
.idea/